
/** page layout **/
body {
	background-color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
	letter-spacing: .5px;
	color: #000;
	position: relative;
	margin-top: 3.5%;
}

.layout-size {
	width: 100%;
	height: 100%;
}

/** navigation layout **/
.navbar-inverse {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%) !important;
  border-bottom: 4px solid #fff !important;
}

.navbar-brand {
  font-size: 12px !important;
  color: #FFF !important;
  letter-spacing: 2px;
  margin-top: 2px;
}

.nav{
  margin-bottom: 0px;
} 

.nav a {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 16px !important;
    color: #000 !important;
    text-transform: uppercase;
    position: relative;
    z-index: 1000;
}
  
a: hover {
    color:#FFF !important;
}
  
li {
    position:relative;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-collapse {
  box-shadow: none !important;
  border:none !important;
}

.navbar-inverse .navbar-toggle: hover {
  background: transparent !important;
}

.navbar-inverse .navbar-toggle: focus {
  background: transparent !important;
}

.navbar-inverse .navbar-toggle: active {
  background: transparent !important;
}

.icon-bar {
  background: #a3bfc6 !important;
}

.hover{
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff !important;
  z-index: 0;
  opacity: 0;
}

/** main page layout **/
.main-page {
   background: #fff no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin-top: -5%;
}

.fa-chevron-down {
	margin-top: 55%;
	margin-left: 22%;
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.title_points {
	color: #000;
	margin-top: 7%;
	float: right;
	margin-right: 5%;
	margin-bottom: 5%;
}

.title_points h1{
	font-size: 6em;
}

.passion_me {
	opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
    -webkit-animation-duration:.4s;
    -moz-animation-duration:.4s;
    animation-duration:.4s;
    -webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.about_me {
	opacity:0;  
    -webkit-animation:fadeIn ease-in .5;  
    -moz-animation:fadeIn ease-in .5;
    animation:fadeIn ease-in .5;
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    animation-duration:.5s;
    -webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.design_me {
	opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
    -webkit-animation-duration:.6s;
    -moz-animation-duration:.6s;
    animation-duration:.6s;
    -webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

.and_me {
	opacity:0;  
    -webkit-animation:fadeIn ease-in .5;  
    -moz-animation:fadeIn ease-in .5;
    animation:fadeIn ease-in .5;
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
    -webkit-animation-duration:.7s;
    -moz-animation-duration:.7s;
    animation-duration:.7s;
    -webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.develop_me {
	opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
    -webkit-animation-duration:.8s;
    -moz-animation-duration:.8s;
    animation-duration:.8s;
    -webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

/** about page layout **/

.about_section {
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
	text-align: center;
	width: 100%;
	height: 1200px;
}

.hr_main {
	width: 75%;
	margin-top: 5%;
	display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #dddfe6;
    visibility: hidden;
}

.about-page {
	margin-top: 5%;
	width: 80%;
}

.about-page h1 {
	font-size: 5em;
	margin-top: 5%;
}

.about-page h3 {
	font-size: 2.25em;
}

.about-page h4 {
	text-align: left;
	font-style: italic;
	font-weight: 600;
	font-size: 1.5em;
}

.about-page p {
	font-size: 1.1em;
	text-align: justify;
	text-indent: 15px;
}

.about-page hr {
	height: 5px;
}

.hr_1 {
	width: 10%;
	display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #EE7785;
}

.hr_2 {
	width: 30%;
	display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #EE7785;
}

.skills_list {
	list-style-type: none;
	margin-right: 10%;
}

.skills_list li {
	display: inline;
	padding-left: 5%;
}


/** work page layout **/

.work-page {
	background: #fff;
	height: 100%;
	width: 90%;
}

.work-page h1 {
	margin-top: 5%;
	font-size: 5em;
}

.work-page h2 {
	text-align: center;
	margin-bottom: 4%;
}
.work-page p {
	padding-top: 10%;
	padding-left: 5%;
	text-align: left;
	font-size: 1.1em;
	text-indent: 15px;
	width: 75%;
}

.my-work-heading {
	text-align: center;
	margin-bottom: 5%;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.seaworthy_caption { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   color: #fff;
   font-size: 2.5em;
   margin-bottom: 10%;
}

.example_0_div {
	width: 50%;
	float: left;
}

.example_0_fig {
	width: 50%;
	float: right;
	margin-bottom: 5%;
}

.example_1_div {
	width: 50%;
	float: left;
}

.example_1_fig {
	width: 50%;
	float: right;
	margin-bottom: 5%;
}

.example_2_div {
	width: 50%;
	float: left;
}

.example_2_fig {
	width: 50%;
	float: right;
	margin-bottom: 5%;
}

.example_3_div {
	width: 50%;
	float: left;
}

.example_3_fig {
	width: 50%;
	float: right;
	margin-bottom: 5%;
}

.example_4_div {
	width: 50%;
	float: left;
}

.example_4_fig {
	width: 50%;
	float: right;
	margin-bottom: 5%;
}


.work_page_hr {
	width: 75%;
	margin-top: 5%;
	display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #dddfe6;
}

.work_headline {
	margin-top: 5%;
}

/** contact page layout **/

.contact-info {
	text-align: center;
	color: #fff;
}

.contact-page {
	background: #EE445F;
    padding-bottom: 5%;
    padding-top: 6%;
}

.contact_list {
	list-style-type: none;
}

.contact_list li {
	display: inline;
	padding: 5%;
}

.contact_me {
	text-decoration: none;
	color: #fff;
}

.mobile {
	padding-top: 1%;
}

/** footer layout **/
.twitter-follow-button {
	float: right;
}

footer {
	float: right;
	position: relative;
	margin-right: 2%;
	padding-top: 1px;
	font-size: 1em;
}

/****** Very Small devices **********/
@media screen and (min-width: 320px) and (max-width: 639px) {
	.main-page {
		height: 400px;
	}

	.title_points {
		margin-top: 16%;
	}

	.title_points h1 {
		font-size: 3.5em;
		margin-left: 2%;
	}

	.fa-chevron-down {
		visibility: hidden;
	}

	.hr_main {
		width: 75%;
	}

	.about_section {
		height: 2200px;
	}

	.about-page h1 {
		font-size: 3em;
		margin-top: 15%;
	}

	.skills_list {
		padding-right: 4%;
	}

	.skills_list li {
		display: inline;
		padding-right: 2%;
		font-size: .75em;
	}

	.work-page h1 {
		font-size: 3em;
		margin-top: 15%;
	}

	.work-page h2 {
		margin-left: 10%;
		margin-bottom: -2%;
	}

	.work-page p {
		width: 90%;
		text-align: justify;
	}

	.work_headline {
		margin-top: 10%;
		text-align: left;
	}

	.example_0 h2 {
		padding-right: 15%;
	}
	
	.example_1 h2 {
		padding-right: 15%;
	}
	
	.example_2 h2 {
		padding-right: 15%;
	}

	.example_3 h2 {
		padding-right: 15%;
	}

	.example_4 h2 {
		padding-right: 15%;
	}

	.example_0_div {
		width: 100%;
	}

	.example_0_fig {
		width: 100%;
		margin-bottom: 5%;
	}

	.example_1_div {
		width: 100%;
	}

	.example_1_fig {
		width: 100%;
		margin-bottom: 5%;
	}

	.example_2_div {
		width: 100%;
	}

	.example_2_fig {
		width: 100%;
		margin-bottom: 5%;
	}

	.example_3_div {
		width: 100%;
	}

	.example_3_fig {
		width: 100%;
		margin-bottom: 20%;
	}

	.example_4_div {
		width: 100%;
	}

	.example_4_fig {
		width: 100%;
		margin-bottom: 20%;
	}

	.contact_list {
		font-size: .75em;
		margin-left: -5%;
	}
}

/******** Small devices ************/
@media screen and (min-width: 640px) and (max-width: 770px) {

	.main-page {
		height: 600px;
		padding-top: 5%;
	}

	.title_points {
		margin-top: 15%;
	}

	.title_points h1 {
		font-size: 4em;
	}

	.fa-chevron-down {
		visibility: hidden;
	}

	.hr_main {
		width: 75%;
	}

	.about_section {
		height: 1500px;
	}

	.about-page h1 {
		font-size: 3em;
		margin-top: 20%;
	}

	.work-page h1 {
		margin-top: 18%;
	}

	.work-page h2 {
		margin-left: 10%;
		margin-bottom: -2%;
	}

	.work-page p {
		width: 90%;
		text-align: justify;
	}

	.work_headline {
		margin-top: 10%;
		text-align: left;
		padding-right: 5%;
	}
	
	.example_0 h2 {
		padding-right: 15%;
	}

	.example_1 h2 {
		padding-right: 15%;
	}
	
	.example_2 h2 {
		padding-right: 15%;
	}

	.example_3 h2 {
		padding-right: 15%;
	}

	.example_4 h2 {
		padding-right: 15%;
	}

	.example_0_div {
		width: 100%;
	}

	.example_0_fig {
		width: 100%;
		margin-bottom: 5%;
	}


	.example_1_div {
		width: 100%;
	}

	.example_1_fig {
		width: 100%;
		margin-bottom: 5%;
	}

	.example_2_div {
		width: 100%;
	}

	.example_2_fig {
		width: 100%;
		margin-bottom: 5%;
	}

	.example_3_div {
		width: 100%;
	}

	.example_3_fig {
		width: 100%;
		margin-bottom: 5%;
	}

	.example_4_div {
		width: 100%;
	}

	.example_4_fig {
		width: 100%;
		margin-bottom: 20%;
	}

	.hr_main {
		width: 75%;
		display: block;
    	height: 5px;
    	border: 0;
    	border-top: 1px solid #6E7783;
	}

	.contact_list {
		font-size: 1em;
		margin-left: -5%;
	}
}

/********* Tablets and Small Desktop *************/
@media only screen and (min-width: 770px) and (max-width: 991px) {



}
