/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    header {
        max-width: 1180px;
    }
    .grid {
    	max-width: 1180px;
    	margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        grid-column-gap: 10px;
    }

    #work-samples {
    	width: 100%;
    	display: grid;
    	grid-template-columns: 1fr 1fr;
        grid-auto-rows: 350px 350px;
        grid-column-gap: 10px;
   		grid-row-gap: 10em;
    }

    #grid-contact {
        max-width: 1180px;
        margin: 0 auto;
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }

}
