/**********************************
GENERAL
***********************************/

body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
}

#intro {
    max-width: 940px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #000;
}
h1,
h2,
h3,
h4 {
    font-weight: bolder;
}

/**********************************
HEADING
***********************************/
header {
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
header:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
header h3 {
    color: #191919;
    font-size: 1em;
    padding-left: 3%;
    display: inline-block;
    float: left;
}
header h3 span {
    font-size: .9em;
}
header ul {
    padding-right: 3%;
    float: right;
    list-style-type: none;
}
header ul li {
    margin-left: 15px;
    margin-bottom: 2%;
    font-size: .90em;
}
header li a {
    color: #000;
}
header li a:hover {
    color: #191919;
}

/**********************************
Intro Section
***********************************/
#intro h2 {
    width: 90%;
    margin-left: 4%;
    font-weight: normal;
}
#intro p {
    font-size: 1em;
    line-height: 1.25;
    width: 80%;
    color: #333333;
    margin-left: 10%;
}

/**********************************
PAGE: PORTFOLIO
***********************************/
img {
    height: 100%;
    width: 100%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}
.container {
    position: relative;
    width: 100%;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.container:hover .image {
    opacity: 0.3;
}
.container:hover .middle {
    opacity: 1;
}
.text {
    background-color: #66A182;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/**********************************
PAGE: ABOUT
***********************************/
.profile-photo {
    display: block;
    max-width: 275px;
    margin: 0 auto 30px;
    border-radius: 2%;
}
.content {
    width: 80%;
    margin: 0 auto;
}

.fa-github {
    color: #999999;
    margin-left: -26px;
}

#modal_embed {
    height: 700px;
    width: 600px;
    padding: 10px;
}
button {
    background-color: #191919;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button a {
    color: white;
}

/**********************************
PAGE: CONTACT
***********************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0 0 2% 0;
    font-size: 0.9em;
}
.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info li.phone a {
    background-image: url('../img/phone.png')
}
.contact-info li.mail a {
    background-image: url('../img/mail.png')
}
.contact-info li.twitter a {
    background-image: url('../img/twitter.png')
}

/**********************************
PAGE: WORK
***********************************/
#work-samples {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
}
#intro h1 {
    text-align: center;
    margin-bottom: 7%;
}
.sample-box-1 h2 {
    border: 1px solid #000;
    text-align: center;
}
.button-align {
    text-align: center;
}

/**********************************
FOOTER
***********************************/
footer {
    margin: 25% 5% 0 5%;
}
footer h4 {
    float: right;
}

/**********************************
Additional
***********************************/
@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
